@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 10px;
}
img {
  object-fit: cover;
  width: 100%;
  user-select: none;
}
ul{
    padding: 0px;
}
/*NAVBAR*/
.navbar {
  background: #343a40;
}
.nav_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_logo a {
  display: flex;
  gap: 15px;
  align-items: center;
  text-decoration: none;
}

.nav_logo_img {
  width: 80px;
}
.nav_download a {
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  background: #446fa5;;
  border: 1px solid #525f6c;

  padding: 10px 15px;
  cursor: pointer;
  transition: 0.4s;
}
.nav_download a:hover {
  background: #fff;
  color: #525f6c;
}
/*NAVBAR*/


/*Table Index*/
.main-menu{
    list-style-type:none
}
.main-menu li{
    list-style-type:none;

}
.list-unstyled{
    max-width: 600px;
    margin:  0 auto;
}
.list-unstyled li{
    margin-bottom: 20px;
}
.list-unstyled a{
    text-align: center;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    background: #343a40;
    border:1px solid #343a40 ;

    color: #fff;
    width: 100%;
    text-decoration: none;
    transition: 0.2s;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-unstyled a:hover{
    background: #fff;
    border:1px solid #343a40 ;
    color: #343a40;
}
.main-menu h2{
    text-align: center;
    
}

/*Table Index*/
