{% extends 'base.html' %}
{% load static %}


{% block title %} Home {% endblock %}

{% block content %}



<main class="mt-5 pt-5">
    <div class="container">
        <section>
            <h1>Содержание</h1>
            <div class="container">
                <div class="row">

                        <ul class="list-unstyled main-menu">
                            <li>
                                
                                <h2>Макроэкономика</h2>
                                <ul class="list-unstyled">
                                    
                                    {% for link in links %}
                                    <li><a href="{% url 'subsection_detail' subsection_id=link.subsection_id %}" class="btn btn-primary btn-block btn-hover-effect">{{link.display_text}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                </div>
            </div>
        </section>
    </div>
</main>



<footer>
    {% comment %} <img src="{% static 'images/foot.png' %}" alt="Фото в подвале" style="width: 100%; height: auto;"> {% endcomment %}
    {% comment %} <p>© 2023 Макроэкономический Бюллетень</p> {% endcomment %}
</footer>

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}
</html>
